
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background: #0B0C10;
    --text: #C5C6C7;
    --task-text: #45A29E;
    --task-bg: #1F2833;
    --bg-btn: #66FCF1;
    --bg-btn-rm: #9F1020;
    --bg-btn-rm-hv: #AA1020;
    --pr-med: #999911;
}

.hidden {
    display: none;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--background);
    color: var(--text)
}
.pr-medium {
    color: var(--pr-med)
}
#container{
    display: grid;
    grid-template: 1fr / repeat(8, 1fr);
    height: 100vh;

}

#project-bar-div {
    grid-area: 1 / 1 / 2 / 2;
    border-right: 2px solid grey;
}

#task-div {
    grid-area: 1 / 2 / 2 / 9;

}

#project-info {
    margin: 0 0 1rem 1rem;

}

#project-name, #project-desc {
    width:50%;
    display: inline-block;
}

.task {
    display: flex;
    justify-content: space-between;
    background-color: var(--task-bg);
    color: var(--task-text);
    padding: 1rem;
    box-shadow: 7px 4px 5px var(--bg-btn);
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.task:hover {
    padding: 1.25rem;
    box-shadow: 7px 5px 5px var(--bg-btn)
}

.btn {
    cursor: pointer;
    border: 0;
}

.btn-remove {
    display: inline-block;
    align-self: center;
    width: 5%;
    padding: 0.5rem;
    background-color: var(--bg-btn-rm);
    border-radius: 10px;
}

.btn-remove:hover {
    background-color: var(--bg-btn-rm-hv)
}

.btn-add {
    padding: 0.5rem;
    margin: 1rem;
    background-color: var(--background);
    color: var(--task-text);
    border: 2px solid var(--bg-btn);
    border-radius: 5px;
    font-weight: bold;
    transition: 0.1s;
}

.btn-add:hover {
    border: 3px solid var(--bg-btn);
}

.btn-edit {
    padding: 0.5rem;
    background-color: var(--background);
    color: var(--task-text);
    border: 2px solid var(--bg-btn);
    border-radius: 5px;
    font-weight: bold;
    transition: 0.1s;
    display: relative;
    left: 0;
  
    
}

.btn-edit:hover {
    border: 3px solid var(--bg-btn);
}


#project-name {
    font-weight: bold;
    font-size: 1.4rem;
}

.task-title {
    font-size: 1.3rem;
    font-weight: bold;
}


#project-bar-div p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;

}

.project-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid white;
    line-height: 3rem;

}

.project-item:hover {
    color: var(--task-text)
}

.btn-project {
    width: 2vw;
}

#add-project-div, #edit-project-div {
    width: 70vw;
    border: 1px solid blue;
    position: absolute;
    top: 200px;
    left: 200px;
    padding: 1rem;
    border: 2px solid var(--bg-btn);
    background-color: var(--background);
    border-radius: 5px;
}

.project-input {
    width: 100%;
    padding: 0.5rem;
    resize: none;

}



#proj-input-div textarea {
    height: 100%

}

#proj-button-div {
    display: flex;
    justify-content: center;
}

#proj-button-div button {

    margin-left: 1rem;
    padding: 0.5rem;

}


/*Tasks*/


#add-task-div {
    width: 50vw;
    border: 1px solid blue;
    position: absolute;
    top: 200px;
    left: 200px;
    padding: 1rem;
    border: 2px solid var(--bg-btn);
    background-color: var(--background);
    border-radius: 5px;
}

.task-input {
    width: 100%;
    padding: 0.5rem;
    resize: none;

}



#task-input-div textarea {
    height: 100%

}

#task-button-div {
    display: flex;
    justify-content: center;
}

#task-button-div button {

    margin-left: 1rem;
    padding: 0.5rem;

}

